<div class="workspaces">
  <div class="workspaces-leftside">
    <div class="filter-form">
      <%= simple_form_for :index_search, url: workspaces_path, method: :get, html: { class: 'w-100' } do |f| %>
      <div class="filter-flex">
        <div class="filter-left">
          <div class="form-top">
            <%= f.input :search_city, class: "form-control rounded-left", placeholder: "Area or Postcode", label: false %>
            <%= f.input :search_distance, class: "form-control", placeholder: "Km radius", label: false  %>
          </div>
        </div>
        <%= f.submit "Search", class: "btn btn-warning"%>
      </div>
    <% end %>
    </div>
    <div class="workspaces-cards">
      <% @workspaces.each do |workspace| %>
      <%= link_to workspace_path(workspace), class: "workspace-link" do %>
      <div class="workspace-card">
        <% if workspace.photos.attached? %>
          <%= cl_image_tag workspace.photos.first.key, class: "img" %>
        <% else %>
          <img class="card-image-workspace" src="https://images.unsplash.com/photo-1519974719765-e6559eac2575?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTAyfHxob21lJTIwb2ZmaWNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" alt="airy desk in bedroom">
        <% end %>
        <div class="card-product">
          <h5>£<%= workspace.price %>hr</h5>
          <h2 class="workspace-name"><%= workspace.name %></h2>
          <div class= "card-icons">
            <!-- non static amenities here -->
            <% workspace.amenities.each do |amenity| %>
              <%= amenity_icon(amenity.name) %>
            <% end  %>
          </div>
          <div class="icon-postcode">
            <%= fa_icon "map-marker-alt" %>
            <div class="address-text">
              <div>
                <p><%= workspace.city %>, <%= workspace.postcode %></p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
   <div class="workspaces-rightside">
    <div id="map"
     style="width: 100%; height: 100vh"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
 </div>
</div>





