<div class="container">
  <div class="top-container">
    <div class="top-leftside">
      <% if @workspace.photos.attached? %>
        <%= cl_image_tag @workspace.photos.first.key, id:"img-large" %>
      <% else %>
        <%= image_tag 'placeholder01.jpg', id:"img-large", class:"img-zoom-container" %>
    <% end %>
    </div>

    <div class="top-rightside">
      <div class="small-images">
        <% if @workspace.photos.attached? %>
          <% @workspace.photos.last(2).each_with_index do |photo, index| %>
            <%= cl_image_tag photo.key, class:"bottom-image img-small", id:"right-#{index}" %>
          <% end %>
        <% else %>
          <%= image_tag 'placeholder02.jpg', class:"bottom-image img-small", id:"right-0" %>
          <%= image_tag 'placeholder03.jpg', class:"bottom-image img-small", id:"right-1" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="second-container">
    <div class="leftside">
     <div class="info">
        <div class="workspace-info">
          <h2> <%= @workspace.name %> </h2>
          <p> <%= @workspace.city %> <%= @workspace.postcode %> </p>
          <p> <% @workspace.average.floor.times do  %>
            <i class="far fa-star"></i>
          <% end %></p>
        </div>
        <div class="price-text" data-rate="<%= @workspace.price %>" id="price">
            <p>£<%= @workspace.price %></p>
        </div>
      </div>
      <div class="tabs">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-amenities-tab" data-toggle="pill" href="#pills-amenities" role="tab" aria-controls="pills-amenities" aria-selected="false">Amenities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</a>
          </li>
        </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"> <%= @workspace.description %></div>
            <div class="tab-pane fade" id="pills-amenities" role="tabpanel" aria-labelledby="pills-amenities-tab"> <%= @workspace.amenities %></div>
            <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
              <% @workspace.reviews.each do |review| %>
                <li class="list-group-item">
                  <% review.rating.to_i.times do %>
                    <i class="far fa-star"></i>
                  <% end %><br>
                  <%= review.content %><br>
                  <i><%= review.user.username%> - <%= review.created_at.strftime("%A, %b %d") %></i>
                  <% end %>
                </li>
            </div>
          </div>
      </div>
      <div class="show-buttons">
          <%= link_to 'Leave a review', new_workspace_review_path(@workspace), class: "btn-edit btn btn-warning "%>
          <% if current_user == @workspace.user %>
          <%= link_to 'Edit', edit_workspace_path(@workspace), class: "btn-edit btn btn-warning"%>
          <% end %>
          <%= link_to 'More Workspaces', workspaces_path(@workspaces), class: "btn-edit btn btn-warning"%>
      </div>
    </div>
    <% if current_user != @workspace.user %>
      <div class= "rightside">
        <div class= "bookingform">
          <h3>Reserve this space</h3>
          <%= simple_form_for [@workspace, Booking.new] do |f| %>
            <%= f.input :person_count %>
            <%= f.input :start_time, as: :string %>
            <%= f.input :end_time, as: :string %>
            <%=f.check_box :terms_of_service, required: true %> By ticking this box I agree to the terms and conditions
            </br>
              <div class="price-target" data-rate="<%= @workspace.price %>" id="total-price">
                Total: £0
              </div>
            <%= f.submit "", class: "btn btn-info", id:"book-now", class: "hidden" %>
            <button id="sweet-alert-demo" class="btn btn-info">Book Now!</button>
        </div>
          <% end %>
      </div>
    <% end %>
  </div>
  <div id="map"
    style="width: 100%; height: 400px"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
