<div class="container">
  <div class="top-container">
    <div class="top-leftside">
          <div class="large-image">
            <% if @workspace.photos.attached? %>
              <%= cl_image_tag @workspace.photos.first.key, id:"img-large" %>
            <% else %>
              <%= image_tag 'placeholder01.jpg', id:"img-large", class:"img-zoom-container" %>
            <% end %>
          </div>
      </div>

    <div class="top-rightside">
      <div class="small-images">
        <% if @workspace.photos.attached? %>
          <% @workspace.photos.last(2).each_with_index do |photo, index| %>
            <%= cl_image_tag photo.key, class:"bottom-image img-small", id:"right-#{index}" %>
          <% end %>
        <% else %>
          <%= image_tag 'placeholder02.jpg', class:"bottom-image img-small", id:"right-0" %>
          <%= image_tag 'placeholder03.jpg', class:"bottom-image img-small", id:"right-1" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="second-container">
    <div class="host-avatar">
      <% if @workspace.user.photo.attached? %>
        <%= image_tag @workspace.user.photo %>
      <% end %>
    </div>
    <div class="leftside">
     <div class="info">
        <div class="workspace-info">
          <h2> <%= @workspace.name %> </h2>
          <p> <%= @workspace.city %> <%= @workspace.postcode %> </p>
          <p> <% @workspace.average.floor.times do  %>
            <%= fa_icon "star", class: "fa" %>
          <% end %></p>
        </div>
        <div class="price-text" data-rate="<%= @workspace.price %>" id="price">
            <p>£<%= @workspace.price %></p>
        </div>
      </div>
      <div class="tabs">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-host-tab" data-toggle="pill" href="#pills-host" role="tab" aria-controls="pills-host" aria-selected="false">About the host</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</a>
          </li>
        </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <p><%= @workspace.description %></p>
              <div class="list-amenities">
                <% @workspace.amenities.each do |amenity| %>
                 <ul class="tab-icons", style="padding: 0px;"><img src= <%= amenity_icon(amenity.name) %>/></ul>
                <% end %>
                </div>
              </div>
            <div class="tab-pane fade" id="pills-host" role="tabpanel" aria-labelledby="pills-host-tab">...</div>
            <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
              <% @workspace.reviews.each do |review| %>
                <li class="list-group-item">
                  <% review.rating.to_i.times do %>
                  <%= fa_icon "star", class: "fa" %>
                  <% end %>
                  <%= review.content %><br>
                  <i><%= review.user.username%> - <%= review.created_at.strftime("%A, %b %d") %></i>
                  <% end %>
                </li>
            </div>
          </div>
      </div>
      <div class="show-buttons">
          <%= link_to 'Leave a review', new_workspace_review_path(@workspace), class: "btn-edit btn btn-warning "%>
          <% if current_user == @workspace.user %>
          <%= link_to 'Edit', edit_workspace_path(@workspace), class: "btn-edit btn btn-warning"%>
          <% end %>
          <%= link_to 'More Workspaces', workspaces_path(@workspaces), class: "btn-edit btn btn-warning"%>
      </div>
    </div>
    <% if current_user != @workspace.user %>
    <%= render "shared/booking_form" %>
    <% end %>
  </div>
  <div id="map"
    style="width: 100%; height: 400px"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
