<% unless @workspace.empty? %>
  <% @workspace_bookings.each do |booking| %>
  <div class="host-bookings">
    <p><%= booking.user.first_name %> <%= booking.user.last_name %>
      <%= booking.start_time.strftime("%d/%m/%y %H:%M") %></p>
      <% if booking.confirmed %>
        <p>Booking confirmed</p>
        <%= link_to "Cancel booking", reject_booking_path(booking), method: :post, class: "btn btn-sm btn-warning" %>
      <% elsif booking.confirmed == nil%>
        <%= link_to "Accept booking", accept_booking_path(booking), method: :post, class: "btn btn-sm btn-warning" %>
        <%= link_to "Reject booking", reject_booking_path(booking), method: :post, class: "btn btn-warning" %>
      <% else %>
        <p>Booking rejected</p>
        <%= link_to "Accept booking", accept_booking_path(booking), method: :post, class: "btn btn-sm btn-warning" %>
    <% end %>
    <%= link_to "Contact Customer", root_path, class: "btn btn-sm btn-warning" %>
  </div>
  <% end %>
<% end %>
