<div class="booking-card">
  <% @bookings.each do |booking| %>
  <%= link_to workspace_path(booking.workspace), class: "workspace-link" do %>
    <div class="workspace-card">
      <% if booking.workspace.photos.attached? %>
          <%= cl_image_tag booking.workspace.photos.first.key %>
        <% else %>
          <%= image_tag 'placeholder01.jpg' %>
        <% end %>
      <h3 class="booking-name"><%= booking.workspace.name %></h3>
        <div class="booking-details">
          <p><%= booking.start_time.strftime('%a %e %B %l:%M')%> -
              <%= booking.end_time.strftime('%a %e %B %l:%M')%></p>
          <p><%= booking.person_count %>
          <% if booking.person_count > 1%>
            guests</p>
          <% else %>
            guest</p>
          <% end %>
        </div>
        <div class="links">
          <%= link_to "Get in touch", '#', class: "booking-button" %>
          <% if booking.confirmed && booking.start_time < Date.today %>
            <%= link_to 'Leave a Review', new_workspace_review_path(booking.workspace), class: "booking-button" %>
          <% elsif booking.confirmed %>
            <h4>Confirmed</h4>
          <% elsif booking.confirmed == nil %>
            <h4>Pending confirmation</h4>
            <%= link_to 'Edit', edit_workspace_booking_path(booking.workspace, booking), class: "booking-button" %>
          <% else %>
            <h4>Booking rejected, class: "booking-button"</h4>
          <% end %>
        </div>
      <div class="address">
        <i class="fas fa-map-marker-alt"></i><h4><%= booking.workspace.first_line_address %> <%= booking.workspace.city %> <%= booking.workspace.postcode %></h4>
      </div>
  </div>
  <% end %>
  <% end %>
</div>
