<div class="booking-card">
  <% @bookings.each do |booking| %>
    <div class="workspace-card">
      <img src="https://images.unsplash.com/photo-1519974719765-e6559eac2575?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTAyfHxob21lJTIwb2ZmaWNlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" alt="airy desk in bedroom">
      <h3 class="booking-name"><%= booking.workspace.name %></h3>
        <div class="booking-details">
          <p><%= booking.start_time.strftime('%a %e %B %l:%M')%> -
              <%= booking.end_time.strftime('%a %e %B %l:%M')%></p>
          <p><%= booking.person_count %> people</p>
        </div>
        <div class="links">
          <%= link_to "Get in touch", '#', class: "booking-button" %>
          <% if booking.confirmed && booking.start_time < Date.today %>
            <%= link_to 'Leave a Review', new_workspace_review_path(booking.workspace), class: "booking-button" %>
          <% elsif booking.confirmed %>
            <h4>Confirmed</h4>
          <% elsif booking.confirmed == nil %>
            <h4>Pending confirmation</h4>
            <%= link_to 'Edit', edit_workspace_booking_path(booking.workspace, booking), class: "booking-button" %>
          <% else %>
            <h4>Booking rejected</h4>
          <% end %>
        </div>
      <div class="address">
        <i class="fas fa-map-marker-alt"></i><h4><%= booking.workspace.first_line_address %> <%= booking.workspace.city %> <%= booking.workspace.postcode %></h4>
      </div>
  </div>
  <% end %>
</div>
