<div class="booking-card">
  <% @favorites.each do |favorite| %>
    <div class="workspace-card">
      <% if favorite.workspace.photos.attached? %>
            <%= cl_image_tag favorite.workspace.photos.first.key %>
          <% else %>
            <%= image_tag 'placeholder01.jpg'%>
          <% end %>
      <h3 class="booking-name"><%= favorite.workspace.name %></h3>
      <div class="links">
        <%= link_to "See workspace", workspace_path(favorite.workspace), class: "booking-button"%>
      </div>
      <div class="address">
       <%= fa_icon "map" %><h4><%= favorite.workspace.city %> </h4>
      </div>
    </div>
  <% end %>
</div>
