<div class="footer">
  <div class="footer-links">
    <%= fa_icon("instagram", type: :brand) %>
    <%= fa_icon("facebook", type: :brand) %>
    <%= fa_icon("twitter", type: :brand) %>
    <%= fa_icon("linkedin", type: :brand) %>
    <%= link_to "Privacy Policy", privacy_path %>
    <%= link_to "Terms and Conditions", terms_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Support", support_path %>
    <%= link_to "Community Guidelines", guidelines_path %>
  </div>
  <div class="footer-copyright">
   <%= fa_icon "copyright" %> MyPlace Workspace
  </div>
</div>
