<div class="footer">
  <div class="footer-links">
    <a href="#"><%= fa_icon "instagram" %></a>
    <a href="#"><%= fa_icon "facebook" %></a>
    <a href="#"><%= fa_icon "twitter" %></a>
    <a href="#"><%= fa_icon "linkedin" %></a>
    <%= link_to "Privacy Policy", privacy_path %>
    <%= link_to "Terms and Conditions", terms_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Support", support_path %>
    <%= link_to "Community Guidelines", guidelines_path %>
  </div>
  <div class="footer-copyright">
   <%= fa_icon "copyright" %> MyPlace Workspace
  </div>
</div>
