<div class="large-card">
  <h2>Find your creative flow</h2>
  <div class="icons">
    <div class="row icon-row">
      <div>
        <%= fa_icon "wifi" %>
        <p>Speedy Wifi</p>
      </div>
      <div>
      <%= fa_icon "hand-sparkles" %>
        <p>Covid-secure</p>
      </div>
      <div>
        <%= fa_icon "coffee" %>
        <p>Coffee and tea available</p>
      </div>
      <div>
        <%= fa_icon "laptop-house" %>
        <p>Separate Room</p>
      </div>
      <div>
         <%= fa_icon "chair" %>
        <p>Table and chair</p>
      </div>
    </div>
    <div class="row icon-row">
      <div>
        <%= fa_icon "female" %>
        <p>Women only space</p>
      </div>
      <div>
        <%= fa_icon "volume-mute" %>
        <p>Quiet working</p>
      </div>
      <div>
        <%= fa_icon "building" %>
        <p>Shared workspace</p>
      </div>
      <div>
       <%= fa_icon "utensils" %>
        <p>Kitchen available</p>
      </div>
      <div>
        <%= fa_icon "dog" %>
        <p>Dog-friendly</p>
      </div>
    </div>
  </div>
  <%= link_to "Find a workspace", workspaces_path, class: "btn btn-lg btn-warning" %>
</div>
