<div class="container">
  <div class="business-title">
    <h2>Membership Options for Business Partners</h2>
  </div>
  <div class="membership-card">
    <div class="business-text">
      <h3>Bronze Membership</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Dignissim cras tincidunt lobortis feugiat. Volutpat commodo sed egestas egestas fringilla.
        Ut faucibus pulvinar elementum integer enim neque volutpat. At tempor commodo ullamcorper a lacus vestibulum sed arcu.
        Et tortor consequat id porta.</p>
        <%= link_to "Sign up here!", root_path, class:"btn btn-warning"  %>
    </div>
    <div class="business-image">
      <%= image_tag "bronze.jpg" %>
    </div>
  </div>
  <div class="membership-card">
      <div class="business-image">
        <%= image_tag "silver.jpg" %>
      </div>
      <div class="business-text">
      <h3>Silver Membership</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Dignissim cras tincidunt lobortis feugiat. Volutpat commodo sed egestas egestas fringilla.
        Ut faucibus pulvinar elementum integer enim neque volutpat. At tempor commodo ullamcorper a lacus vestibulum sed arcu.
        Et tortor consequat id porta.</p>
        <%= link_to "Sign up here!", root_path, class:"btn btn-warning"  %>
    </div>
  </div>
  <div class="membership-card">
    <div class="business-text">
      <h3>Gold Membership</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Dignissim cras tincidunt lobortis feugiat. Volutpat commodo sed egestas egestas fringilla.
        Ut faucibus pulvinar elementum integer enim neque volutpat. At tempor commodo ullamcorper a lacus vestibulum sed arcu.
        Et tortor consequat id porta.</p>
        <%= link_to "Sign up here!", root_path, class:"btn btn-warning"  %>
    </div>
    <div class="business-image">
      <%= image_tag "gold.jpg" %>
    </div>
  </div>
</div>
