<!DOCTYPE html>
<html>
  <head>
    <title>Myplaceworkspace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
        <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </body>
</html>
